/* General */

.body-bg {
    background: #E9E7E3;
}

.carousel-fade .carousel-item { 
/*All the carousel fading thanks to: https://silvawebdesigns.com/how-to-change-the-bootstrap-4-carousel-to-a-fade-transition-instead-of-slide/*/
	opacity: 0;
	transition-duration: 0.9s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
/*	transform: translateX(0); */
	transform: translate3d(0, 0, 0);
}

    .crop {
    max-height:100px;
    overflow:hidden;
    }

    .cropOUD {
  overflow: hidden;
  margin-top: -350px;
  position: absolute;
  clip: rect(300px, 1500px, 500px, 0);
  z-index: -1;
    }

.header-bg {
    background: url(https://images.pexels.com/photos/141978/pexels-photo-141978.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) 
    center fixed;
    width: 1400px;
    height: 50px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-size: cover;
    height: 100vh;
}
/* https://blog.hubspot.com/website/css-fade-in */

.fade-in {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.carousel-start {
    margin-top: 10vh;
    position: relative;
    z-index: -1;

}

.picture-center {
    position: relative;
    z-index: -1;

}

.header-box {
    position: absolute;
    
    color: black;
    top: 4vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 21.41%, rgba(255, 255, 255, 0.7) 78.6%, rgba(255, 255, 255, 0) 100%);
   }

.header-text {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.bg-nav {
  color: white;
  background: black;
}

.navbar {
  padding: 0;
}

.nav-link {
  color: white;
}

.logo {
    font-size: 25px;
    font-weight: 100;
}

.flagsize{
    width: 30px;
}

#section2, #section3 {
    margin-top: 10vh;
}

.mapouter {
    position:0;
    margin: 0;
    padding: 0;
}

.form-bg {
    float: left;
    margin-top: 10px;
    Margin-left: 40px;
}

footer {
    color: white;
    background: black;
}