@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Roboto:400,300,500wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

.body-bg {
    background: #E9E7E3;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.fixed-top-bar-bg {
  color: #E9E7E3;
  background: #3C4A44;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    Padding: 8px;
    margin-top: 2px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}

nav li a:hover {
  background-color: #FFFFFF44;
  text-decoration: overline underline;
  color: #E9E7E3
}

nav a {
  color: inherit;
  text-decoration: none;
}

.nav-text {
  font-size: 20px;
  font-weight: 500; 
}

.btn-primary.custom-btn {/* customize button: https://stackoverflow.com/questions/49184471/how-to-change-bootstrap-version-4-button-color */
    padding-top: 0;
    padding-bottom: 0;
	background-color:#3C4A44;
	border-color: #3C4A44;
} 

.btn-primary.custom-btn:hover {
    padding-top: 0;
    padding-bottom: 0;
 	background-color:#FFFFFF44;
	border-color: #FFFFFF44;   
}

.flag-container{
    width: 60px;
    height: auto;
}

.flagje {
    max-width:100%;
    max-height:100%;
}

#carouselfade {
    margin-top: 15px;
    margin-bottom: 15px;
}
.carousel-start {
    margin-top: 4rem;
    border: 1px solid grey;
    position: relative;
    z-index: -1;
}
.carousel-fade .carousel-item { 
/*All the carousel fading thanks to: https://silvawebdesigns.com/how-to-change-the-bootstrap-4-carousel-to-a-fade-transition-instead-of-slide/*/
	opacity: 0;
	transition-duration: 0.9;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0); 
	transform: translate3d(0, 0, 0);
}

.header-box {
    position: absolute;
    color: black;
    top: 2rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 21.41%, rgba(255, 255, 255, 0.7) 78.6%, rgba(255, 255, 255, 0) 100%); 
}

.header-text {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    transform: translate3D(0, 4px, 0); /*bug in system?, text is slightly too high*/
}

 #carousel-second {
      width: 85%;
      height: 85%;
    } 

.page3-google-map-margin {
    margin-top: 2vh;
}  

.page3-form-margin {
    margin-top: 2vh;
 }

 .page3-adr-margin {
    margin-top: 2vh;
 }
  

/* thanks to https://blog.duda.co/responsive-google-maps-for-your-website */
.map-responsive {  
    overflow: hidden;
    padding-bottom:86.25%;
    position: relative;
    height: 0;
 }

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.form-bg {
    width: 85%;
}

footer {
    margin-top: 5vh;
    color: #E9E7E3;
    background: #3C4A44;
}

.social-media-links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul.social-media-links li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}

ul.social-media-links li:hover {
  background-color: #FFFFFF44;
}

.social-media {
  color: #E9E7E3;
}

@media screen and (min-width: 1400px) {
    .body-bg {
       font-size: 23px;
   }
}

@media screen and (max-width: 768px) {
    .logo {
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }

    nav ul {
      justify-content: center;
    }

    nav li {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 5px;
      margin-bottom: 5px;
    }

	.carousel-start {
      margin-top: 5rem;
    } 

    .header-box {
      all: unset;
    }

   .header-text {
       font-size: 25px;
       font-weight: 400;
       transform: translate3D(0, -4px, 0); 
    }
}

@media screen and (max-width: 400px) {
    .logo {
       margin: 5px 0 0 0;
       padding: 0;
       text-align: center;
       font-size: 20px;
       font-weight: 400;
    }

    .flag-container{
       width: 50px;
       height: auto;
    } 

    .btn-primary.custom-btn:hover {
    padding-top: 0;
    padding-bottom: 0;
 	background-color:#FFFFFF44;
	border-color: #FFFFFF44;   
}

    .nav-text {
       font-size: 15px;
       font-weight: 400; 
    }

    #carousel-second {
      width: 99%;
      height: 99%;
    } 
}

@media screen and (max-width: 340px) {
    .logo {
       text-align: center;
       font-size: 20px;
       font-weight: 300;
    }

        /*li.dropdown*/ flagsize {
width: 10px;
margin-left: 5px;
    }

    .nav-text {
       font-size: 13px;
       font-weight: 400; 
    }

}